body {
    margin-left:200px;
    margin-right:200px;
}


.boxcontainer {
    background-color:#FFFF99;
    height: 200px;
    
}

#giphs {
   
    height:600px;
}
#searchbar {
    
    height:150px;
}

.giphcontainer {
    
    height:200px;
    
}

#searchbar {
    margin-top:60px;
   
}

#submit {
    margin-top: 10px;
}

#newbutton {
    margin:10px;
    margin-top: 20px;
    height:30px;
    width:80px;
}

#giphsize {
    height:200px;
    width:200px;
    
}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 40px;
    text-align:center;
}

h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    text-align:center;
}